*tmp
test-W200-G600-islands-summary-FDR.01
examples/chr19_input.bedpe
examples/chr19_sample.bedpe
.coverage*
*bz2
*gz
*bed
epic_output.csv
*csv
.cache/
.coverage
*fai
joblib/
*egg-info*
dist/
*.c
build/
noinclude/
*swp
*swo
*txt
chr*
*.pyc
*fuse*
